.title {
    margin: 0;
    padding: 0px;
    background: linear-gradient(0.25turn, #9cb2c4, #2873ff, #5b44dd);
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    color: black;
    text-shadow: 1px 2px 4px;
}

.card {
    background: transparent;
}


body {
    background: linear-gradient(0.25turn, #9cb2c4, #2873ff, #5b44dd);
}

.other-head {
    font-family: 'Bebas Neue', cursive;
    padding-left: 50px;
    font-size: 50px;
}

.third-head {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: rgb(104, 104, 104)
}
 .forecast-banner {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    background: linear-gradient(0.25turn, #9cb2c4, #2873ff, #5b44dd);
 }

.current-city {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: black;
}

.forecast-day {
    background: linear-gradient(.25turn, #9cb2c4, #2873ff, #5b44dd);
    color: black;
    margin: 4px;
    padding: 8px;
    font-weight: lighter;
    border-radius: 15px;
}

.ficon {
    align-items: center;
}

.current-condition {
    margin: 10px;
    background: linear-gradient(.25turn, #9cb2c4, #2873ff, #5b44dd);
    border: 0px;
    border-radius: 15px;
}

input {
    margin-left: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

button {
    background-color: rgb(66, 13, 189);
    border: none;
    color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

button:active {
    background-color: rgb(104, 104, 104);
}

button:hover {
    background-color: rgb(104, 104, 104);
}

.list-group-item {
    background-color: rgb(13, 189, 57);
    border: none;
    color: whitesmoke;
    border-top-left-radius: 5px;
}

.clear {
    background-color: rgb(48, 47, 47); }

.clear:active {
    background-color: rgb(48, 47, 47);
    border: none; 
}

.list-group-item:active {
    background-color: rgb(241, 241, 241);
}